<div class="container-fluid">
  <div class="login_container">
    <div class="row">
      <div class="col-12">
        <div class="login_header">
          <h2>Login</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="login_box">
          <div class="label">
            <label for="">Login:</label></div>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="password_box">
          <div class="label">
            <label for="">Password:</label></div>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="register_box">
          <span><a href="">Register</a></span></div>
      </div>
    </div>
  </div>
</div>
