<div class="about_container">
  <div class="container">
    <div class="header">
      <h1>Mission Statement</h1>
    </div>
    <div class="content">
      <p>We at inVeritaSoft are a company that believes in making strong, faithful, long-lasting relationships with our
        Partners. Our main goal is not to simply finish Projects well, but to do this in such a way that our Projects
        would change the world we live in for the better.</p>
      <p>We are captivated by what we do. We are passionate, working with this everyday realization: we are responsible
        today to build the world we will live tomorrow.</p>
      <p>The process of doing business is based on relationships of trust between people. The problem of business,
        then, is when the material needs of a company interfere with its fundamental purpose: to serve the people of
        the company and their needs. These people are the center of everything that the company does.</p>
      <p>When we chose “It’s all about people” to be our motto, we made the main focus of our business-philosophy to
        serve the People we work with. This is the core around which we wish to develop our daily vision and approach
        to our work. We believe in Projects that change the world. We believe that the only real way to change the
        world with Projects like this is to understand People: their needs, their interests and their dreams.</p>
    </div>
  </div>
</div>
